@media(max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: auto;
        background: url('../images/bg-mobile.svg') center center no-repeat;
        background-color: var(--primary-violet);
    }

    .header {
        align-self: flex-start;
    }

    .ilustracao img {
        width: 100%;
        justify-content: center;
    }

    .registro {
        text-align: center;
    }

    .registro h1 {
        font-size: 2.5rem;
    }
    
    .registro p {
        font-size: 1.5rem;
    }

    .registro a {
        font-size: 1.5rem;
        color: #000;
        align-self: center;
        background-color: #fff;
    }
}