html {
    font-size: 62.5%;
    overflow: hidden;
    max-width: 1440px;
}

body {
    display: grid;
    grid-template-areas: 
            "header header"
            "ilustracao registro"
            "footer footer";
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Opens sans', sans-serif;
    font-weight: 400;
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: var(--primary-violet);
}

.header {
    grid-area: header;
    margin: 30px;
    max-height: 40px;
}

.header img {
    max-width: 150px;
    max-height: 40px;
}

.ilustracao {
    grid-area: ilustracao;
    margin: 40px;
    max-height: 400px;
}

.ilustracao img {
    max-width: 600px;
    max-height: 350px;
    padding-left: 40px;
}

.registro {
    grid-area: registro;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    max-height: 300px;
}

.registro h1 {
    font-weight: 600;
    font-size: 4rem;
    color: #fff;
    padding-bottom: 10px;
}

.registro p {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 15px;
}

.registro a {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    align-self: flex-start;
    background-color: var(--primary-pink);
    border-radius: 20px;
    padding: 10px 50px;
    margin-top: 15px;
}

.registro a:hover {
    box-shadow: 7px 6px 30px 13px rgba(0,0,0,0.2);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

ul {
    display: flex;
}

.footer .social li .fab {
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 8px;
    padding: 8px;

}

.footer .social .fab:hover {
    color: var(--primary-pink);
    border-color: var(--primary-pink);
}

